@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

p {
    margin: 0;
}

#cart-page .empty-cart-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-page .cart-page-header h2 {
    padding-bottom: 0.7rem;
    border-bottom: 3px solid var(--main-color);
    width: fit-content;
}

#cart-page .cart-page-cartlist {
    margin-top: 2rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table {
    width: 100%;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr {
    border-bottom: 1px solid var(--border-color);
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td {
    padding: 0.4rem 0rem;
    text-align: center;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr .cart-page-cartlist-items-item-quantity-delete i {
    font-size: 1.1rem;
    background-color: var(--light-gray-color);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td .cart-page-cartlist-items-item-quantity button {

    border-radius: 0.2rem;
    background-color: transparent;
    border: none;

}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td .cart-page-cartlist-items-item-quantity button.cart-page-cartlist-items-item-quantity-num {
    cursor: default;
    border: 1px solid var(--border-color);
    color: var(--gray-color-2);
    background-color: var(--light-gray-color);
    padding: 0.1rem 0.8rem;
    margin: 0 0.4rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td .cart-page-cartlist-items-item-quantity .cart-page-cartlist-items-item-quantity-operator {
    font-size: 1rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tbody tr .cart-page-cartlist-items-item {
    padding: 1rem 0;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table thead tr{
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr th {
    font-size: 1.2rem;
    padding: 0.4rem 0.2rem;
    /* color: var(--gray-color-2); */
    margin: 0;
    text-align: center;
}

/* #cart-page .cart-page-cartlist .cart-page-cartlist-items table tr th:first-child {
    text-align: start;
} */

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td{
    /* width: 24%; */
    min-width: 7rem;
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td .first-col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td.cart-page-cartlist-items-item-quantity-delete div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td.cart-page-cartlist-items-item-quantity-delete i{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td.cart-page-cartlist-items-item-quantity-delete i:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/* #cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td .first-col .cart-page-cartlist-items-item-img-wrapper {
    background-color: var(--light-gray-color);
    padding: 0.4rem;
    border-radius: 1rem;
} */

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td img {
    width: 5.5rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td p {
    margin: 0;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-items table tr td p:last-child {
    color: var(--gray-color-2);
    font-size: 0.8rem;
}

#cart-page .empty-cart-img-wrapper {
    margin-top: 3rem;
}

#cart-page .empty-cart-img-wrapper img {
    width: 37rem;
    object-fit: cover;
}

#cart-page .cart-page-cartlist .cart-bottom-2-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary {
   
    border-radius: 0.1rem;
    background-color: #EFEFEF;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary>* {
    padding: 0 1rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary>p:first-child {
    padding: 0.4rem 1rem;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-color);
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper {
    margin: 0;
    font-size: 1rem;
}
#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper{
    /* margin-top: 0.9rem; */
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper input{
    padding: 0.3rem 0.4rem;
    width: 45%;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper button{
    background-color: var(--main-color);
    border: none;
    color: var(--white-color);
    padding: 0.4rem 2rem;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    transition: 0.4s ease-in-out;
}

/* #cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper p:first-child,
#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper button {
    color: var(--gray-color-2);
    font-weight: 400;
    font-size: 0.8rem;
} */

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--main-color);
    background-color: transparent;
    border: none;
    width: 100%;
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-footer-wrapper{
    background-color: #E8E8E8;
    padding-bottom: 0.7rem;
    border-top: 1px solid var(--border-color);
}

#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem;
}

.cart-page-cartlist-summary-checkout-btn{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.cart-page-cartlist-summary-checkout-btn button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 0.70rem;
    background-color: var(--main-color);
    color: #fff;
    margin-top: 0.2rem;
    transition: 0.4s ease-in-out;
    border-radius: 0.2rem;
}

.cart-page-cartlist-summary-checkout-btn button:hover,
#cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper button:hover {
    background-color: BLUE;
}

@media screen and (max-width:1100px) {
    .cart-page-cartlist-items{
        overflow: scroll;
        width: 100%;
    }

    #cart-page .cart-page-cartlist .cart-page-cartlist-items table tr th{
        font-size: 1rem;
        font-weight: normal;
        width: 400px !important;
    }

    #cart-page .cart-page-cartlist .cart-bottom-2-boxes{
        grid-template-columns: 1fr;
    }
    #cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper{
        flex-direction: column;
        align-items: start;
    }

    #cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary .cart-page-cartlist-summary-info-wrapper p{
        font-size: 0.8rem;
    }

    #cart-page .cart-page-cartlist .cart-page-cartlist-summary-wrapper .cart-page-cartlist-summary-info-wrapper-input-coupon-wrapper input{
        width: 100%;
    }
    #cart-page .cart-page-cartlist .cart-bottom-2-boxes button{
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width:600px) {
    #cart-page .empty-cart-img-wrapper img {
        width: 25rem;
    }
}

@media screen and (max-width:400px) {
    #cart-page .empty-cart-img-wrapper img {
        width: 80%;
    }
}